# flyctl launch added from .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
**/.pnp.js
**/.turbo
**/test-results

# testing
coverage

# database
prisma/db.sqlite
prisma/db.sqlite-journal

# next.js
.next
out
**/next-env.d.ts

# production
build

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
**/.env
**/.env*.local

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo

**/.vercel
**/.env*.local

# flyctl launch added from node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/.gitignore
# Logs
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/logs
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.log
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/npm-debug.log*
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/yarn-debug.log*
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/yarn-error.log*
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/pids
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.pid
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.seed
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/lib-cov

# Coverage directory used by tools like istanbul
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/coverage
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.lcov

# nyc test coverage
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.grunt

# Bower dependency directory (https://bower.io/)
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/bower_components

# node-waf configuration
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/build/Release

# Dependency directories
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/node_modules
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/jspm_packages

# TypeScript v1 declaration files
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/typings

# TypeScript cache
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.tsbuildinfo

# Optional npm cache directory
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.npm

# Optional eslint cache
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.eslintcache

# Microbundle cache
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.rpt2_cache
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.rts2_cache_cjs
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.rts2_cache_es
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.rts2_cache_umd

# Optional REPL history
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.node_repl_history

# Output of 'npm pack'
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/*.tgz

# Yarn Integrity file
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.yarn-integrity

# dotenv environment variables file
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.env
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.env.test

# parcel-bundler cache (https://parceljs.org/)
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.cache

# Next.js build output
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.next

# Nuxt.js build / generate output
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.nuxt
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/dist

# Gatsby files
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.cache
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.vuepress/dist

# Serverless directories
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.serverless

# FuseBox cache
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.fusebox

# DynamoDB Local files
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.dynamodb

# TernJS port file
node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.tern-port

node_modules/.pnpm/ably@1.2.47_bufferutil@4.0.8_react-dom@18.2.0_react@18.2.0_utf-8-validate@6.0.3/node_modules/ably/src/platform/react-hooks/**/.DS_Store

# flyctl launch added from node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/.gitignore
# Logs
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/logs
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.log
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/npm-debug.log*
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/yarn-debug.log*
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/yarn-error.log*
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/pids
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.pid
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.seed
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/lib-cov

# Coverage directory used by tools like istanbul
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/coverage
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.lcov

# nyc test coverage
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.grunt

# Bower dependency directory (https://bower.io/)
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/bower_components

# node-waf configuration
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/build/Release

# Dependency directories
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/node_modules
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/jspm_packages

# TypeScript v1 declaration files
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/typings

# TypeScript cache
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.tsbuildinfo

# Optional npm cache directory
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.npm

# Optional eslint cache
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.eslintcache

# Microbundle cache
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.rpt2_cache
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.rts2_cache_cjs
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.rts2_cache_es
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.rts2_cache_umd

# Optional REPL history
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.node_repl_history

# Output of 'npm pack'
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/*.tgz

# Yarn Integrity file
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.yarn-integrity

# dotenv environment variables file
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.env
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.env.test

# parcel-bundler cache (https://parceljs.org/)
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.cache

# Next.js build output
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.next

# Nuxt.js build / generate output
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.nuxt
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/dist

# Gatsby files
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.cache
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.vuepress/dist

# Serverless directories
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.serverless

# FuseBox cache
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.fusebox

# DynamoDB Local files
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.dynamodb

# TernJS port file
node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.tern-port

node_modules/.pnpm/ably@1.2.47_react-dom@18.2.0_react@18.2.0/node_modules/ably/src/platform/react-hooks/**/.DS_Store

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.3.5/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.3.5/node_modules/tailwindcss/stubs/**/*
fly.toml
